body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center; /* Alinha o texto ao centro */
}

.menu {
    background-color: #333;
    overflow: hidden;
    text-align: center; /* Alinha o menu ao centro */
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline; /* Exibe os itens do menu na mesma linha */
    margin-right: 10px; /* Espaçamento entre os itens do menu */
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.balao-fala {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-width: 300px;
}

.balao-fala .fechar {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.conteudo {
    margin: 20px auto; /* Centraliza o conteúdo */
    max-width: 800px; /* Define a largura máxima do conteúdo */
    text-align: left; /* Alinha o texto à esquerda */
    line-height: 1.6;
}
